HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.properties
*.yml
*.log
info
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/htmlReport
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore build outputs
/target/
/**/target/

# Ignore only the compiled copy of application.properties
target/classes/application.properties

### VS Code ###
.vscode/
